@model WebApplication1.Models.Footballer

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<div>
  
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Takim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Takim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pozisyon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pozisyon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Yas)
        </dd>
    </dl>
    
    <form asp-action="Sil">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Listele">Back to List</a>
    </form>
</div>
